.App {
  text-align: center;
}

.App .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App .App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .App-link {
  color: #61dafb;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.template-pick-wrap {
  width: 300px;
}
.template {
  flex: 1;
  border-left: 1px solid #282c34;
}

.template-wrap {
  padding: 10px;
}

.template-picker li {
  text-align: left;
  cursor: pointer;
  list-style-type: none;
  margin-left: -10px;
}
